.addETEMapping {
  color: #518EF8; 
  width: 90px;
  background: rgba(81, 142, 248, 0.1);
  font-size: 16px; 
  border: 1.5px solid #518EF8; 
  border-radius: 100px;
}

.btn1-ETEMapping {
  color: #518EF8; 
  background: rgba(81, 142, 248, 0.1);
  font-size: 16px; 
  border: 1.5px solid #518EF8; 
  border-radius: 100px;
  cursor: pointer;
}

.btn2-ETEMapping {
  color: white; 
  background: #0645B1;
  font-size: 16px; 
  border-radius: 100px;
  cursor: pointer;
}
