.edit-notificationServicesTable {
  color: #518EF8; 
  width: 100px;
  background: rgba(81, 142, 248, 0.1);
  font-size: 16px; 
  border: 1.5px solid #518EF8; 
  border-radius: 100px;
}

.modal-backdrop {
  display: none;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}
