.lock-div-inactive {
  background: rgba(81, 142, 248, 0.1);
  color: #518EF8;
  border-radius: 15px;
}

.lock-div-active {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 15px;
}

.cmp-inactive {
  background: white;
}

.cmp-active {
  background: #518EF8;
  color: white;
}

.passwordCheckImg {
  height: 30px;
  width: 30px;
  background: #FCFCFC;
}