#manageSchedulerJobs {
  .manageSchedulerJobs-search {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .manageSchedulerJobs-checkbox{
    scale: 1.5;
  }
  
  .box-div {
    width: 16px;
  }

  // ::-webkit-scrollbar {
  //   width: 5px;
  // }
  
  // ::-webkit-scrollbar-track {
  //   background: #f1f1f1; 
  // }
  
  // ::-webkit-scrollbar-thumb {
  //   background: #0A213E; 
  // }
  
}
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }
