#manageSchedulerJobs {
  .manageSchedulerJobs-search {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .manageSchedulerJobs-checkbox{
    scale: 1.5;
  }
  
  .box-div {
    width: 16px;
  }

  .activeStatus {
    font-size: 16px;
    width: 80px;
    color: #0A9D7A;
    background: rgba(10, 157, 122, 0.1);
    border-radius: 100px;
  }

  .inactiveStatus {
    font-size: 16px;
    width: 85px;
    color: #FD5E1A;
    background: rgba(253, 94, 26, 0.1);
    border-radius: 100px;
  }

  // ::-webkit-scrollbar {
  //   width: 5px;
  // }
  
  // ::-webkit-scrollbar-track {
  //   background: #f1f1f1; 
  // }
  
  // ::-webkit-scrollbar-thumb {
  //   background: #0A213E; 
  // }
  
}
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }
