.click-appear-div {
  background: rgba(81, 142, 248, 0.1);
  border: 1px solid #518EF8;
  border-radius: 15px;
}
.custom-select {
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  border-radius: 5px;
}
select {
  background-color: #FCFCFC !important;
}
.form-control {
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  border-radius: 5px;
}
input {
	background-color: #FCFCFC !important;
}
