.searchInput{
    border-top-right-radius: 30px !important;
     border-bottom-right-radius: 30px !important;
border-left: 0 !important;
outline: none !important;
box-shadow: none !important;
}
.searchIcon{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff !important;
}
.shortcutIcons{
    background-color: #fff;
    padding:10px 15px;
    border-radius: 10px;
}